@import url('https://fonts.googleapis.com/css?family=Lobster|Raleway');

.container-fluid {
  padding: 0;
  margin: 0;
}

.nav li a:hover {
  background-color: transparent;
  border-color: transparent;
}

.navbar-default {
  border-color: transparent;
  background-color: transparent;
}
